// Container
.container{
    width: 70%;
    margin: 0 auto;
}
// ul
ul{
    list-style-type: none;
}
// a
a{
    text-decoration: none;
    color: inherit;
}
// btn
.btn{
    padding: 10px;
    display: inline-block;
}